button {
  color: #fff;
  width: 100px;
  padding: 15px;
  border-radius: 25px;
  margin: 10px;
  border: none;
  outline-style: none;
  cursor: pointer;
  transition: all 0.1s;
  transform: scale(0.95);
  font-size: 14px;
}
button:hover {
  opacity: 0.8;
  transform: scale(1);
}
button:active {
  transform: scale(0.95);
}
